@import "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include respond(phone) {
  }
  @include respond(tab-port) {
  }
  @include respond(tab-land) {
  }
  @include respond(big-desktop) {
  }
}

body {
  box-sizing: border-box;
}
