@import "../abstracts/variables";

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.center-box {
  display: flex;
  margin: 0 auto;
  max-width: 114rem;
  justify-content: space-around;
  gap: 6rem;
  .center-text-box {
    width: 50%;
  }

  .center-photo-box {
    position: relative;
    width: 57rem;
  }
}

.features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../img/nat-4.jpg");
  background-size: cover;
  margin: 0 auto;
  transform: skewY(-7deg);
  margin-top: -11.5rem;

  & > * {
    transform: skewY(7deg);
  }
}
